*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-style: normal;
}

body{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #FAFAFA;
}

.header{
    padding: 20px;
    width: 100%;
    text-align: center;
    border-bottom: black;
    box-shadow: 0 4px 2px -2px gray;;
}

.bodyContainer{
    width: 100%;
    height: 100%;
    text-align: center;
    display: grid;
    grid-template-columns: 1fr 9fr;
    font-size: clamp(1rem, 1.4vw, 50px);
    color: #333333;
}

.addTask{
    /* background-color: aqua; */
    width: 100%;
    padding: 20px;
    border-right: black;
    box-shadow: 4px 0 2px -2px gray;
}

#addProject{
    width: clamp(7px, 10ch, 200px);
    padding: 10px;
    background-color: #00A3A3;
    color: white;
    font-size: 1rem;
}

#addProject:hover{
    filter: brightness(110%);
    cursor: pointer;
}

.projectList{
    margin-top: 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 10px;
}

.contentHeader{
    width: 100%;
    border-bottom: 1px solid black;
    padding: 5px;
}

.contentContainer{
    padding: 20px;
    /* background-color: blueviolet; */
}

#content{
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

#addProjectDialog, #addTodoDialog{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 10px;
    width: 80vw; /* Width is responsive based on viewport width */
    min-width: 300px; /* Minimum width */
    max-width: 500px; /* Maximum width */
    box-shadow: 5px 5px 5px gray;
}

form{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.projectGroup, .todoGroup{
    display: grid;
    grid-template-columns: 1fr 3fr;
    gap: 5px;
}

.projectBtns, .todoBtns{
    align-self: center;
}

.cancelProjectBtn, .submitProjectBtn, .cancelTodo, .submitTodo{
    padding: 5px;
}

.submitProjectBtn, .submitTodo{
    background-color: #00A3A3;
    color: white;
}

.cancelProjectBtn:hover, .submitProjectBtn:hover{
    filter: brightness(110%);
    cursor: pointer;
}

.projectContainer{
    width: clamp(5ch, 8ch, 15ch);
    overflow: hidden;
    padding: 10px;
    background-color: #008080;
    color: white;
}

#todoContent{
    margin-top: 15px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-auto-rows: 200px;
    gap: 10px;
}

.todoContainer{
    padding: 10px;
    background-color: #00A3A3;
    color: white;
}